/*FOR BODY OF DOCUMENT */

body {
  background-color: rgb(66, 32, 63);
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* HERO HEADER */

h1 {
  color: rgb(168, 184, 184);
  border: 15px solid white;
  border-bottom: 15px double white;
  border-right: none;
  font-size: 5em;
  padding: 0.1em;
  font-family: "Permanent Marker", cursive;
  height: 8%;
  width: 100%;
  text-align: center;
  margin-top: -0.1em;
  margin-bottom: 1em;
}

/* BUTTON ON ROBOT TORSO */

button {
  padding: 0.5em;
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  color: antiquewhite;
  background: radial-gradient(lightgray, darkslategray);
  border: 4px groove lightslategray;
  margin: 30%;
  border-radius: 20px;
}
button:hover {
  color: darkorange;
  cursor: pointer;
  border: 3px groove white;
}

/* CONTAINER FOR ROBOT */

.robot {
  position: relative;
  border: 8px solid oldlace;
  border-bottom: 12px double oldlace;
  margin: 1em 4em 0em 4em;
  display: flex;
  flex-flow: column;
  height: 25%;
  width: 50%;
  padding-top: 2em;
}

/* ROBOT'S HEAD */

/* these are really his ears - need to change name */
.antenna {
  position: relative;
  border-left: 10px groove silver;
  border-right: 10px groove silver;
  height: 2em;
  width: 11.5em;
  margin: 2em 4em 0 -0.75em;
  border-radius: 7px;
}

.headtop {
  margin: -1.75em -0.75em -1em -0.75em;
  padding-top: 1em;
  background: radial-gradient(lightgray, slategray);
  height: 1.5em;
  width: 11em;
  border-radius: 100%;
  border: 3px solid darkgray;
}

/* ROBOT'S FACE */

#head {
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  background: linear-gradient(
    to left,
    lightslategray 5%,
    lightgray 35%,
    lightslategray 65%
  );
  height: 5em;
  width: 10em;
  border-radius: 8px;
  border: 2px solid darkgray;
}

.eye {
  margin: -1em 3em 1em 3em;
  width: 3em;
  padding: 5px;
  height: 40%;
  border-radius: 100%;
  border: 6px solid lightgray;
  background: white;
}
.pupil {
  margin: 0.25em 0 0 0.5em;
  width: 1em;
  padding: 5px;
  height: 25%;
  border-radius: 100%;
  border: 4px solid lightslategray;
  background: radial-gradient(red, white);
}
.pupil:hover {
  background: radial-gradient(white, red);
}
.mouth {
  margin: 0 8em 0em 4em;
  width: 1.25em;
  padding: 4px;
  height: 15%;
  border-radius: 3px;
  border: 5px solid lightslategray;
  background: darkgray;
}

.teeth {
  margin: 0.5em 0 0 -0.25em;
  width: 1.5em;
  height: 10%;
  border-radius: 3px;
  border: 2px solid red;
  background: whitesmoke;
}

/******************/
/* ROBOT'S TORSO */
/******************/

.robot_body {
  padding: 10px 0px;
  margin: 0 auto;
  border-radius: 30px;
  border: 3px solid darkgray;
  height: 15em;
  width: 20em;
  background: linear-gradient(lightslategray, slategray, lightgray);
}

.l_arm {
  margin: -15em 0em 13em 0em;
  border: 4px double #f2ae30;
  border-left: none;
  background: transparent;
  width: 5em;
  height: 2em;
  border-radius: 6px;
}

.l_hand {
  margin: -1.25em 0em 0 -7em;
  padding: 1em;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 40px dashed transparent;
  border-right: 40px dashed transparent;
  border-top: 200px solid lightslategray;
}

.r_arm {
  margin: -15em 0 13em 15em;
  border: 4px double #f2ae30;
  border-right: none;
  background: transparent;
  width: 5em;
  height: 2em;
  border-radius: 6px;
}
.r_hand {
  margin: -1.5em 5em 0 4.75em;
  padding: 1em;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 200px solid lightslategray;
}

/******************/
/* ROBOT'S WHEEL */
/******************/

.foot {
  padding: 3em;
  margin: -6em 5em 4em 5em;
  width: 4em;
  height: 2em;
  border-radius: 100%;
  border: 5px dashed darkgray;
  background: silver;
}

.inner_foot {
  position: relative;
  margin-top: -1.5em;
  margin-right: -1em;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  border: 5px solid gray;
  background: radial-gradient(lightslategray, darkgray);
}

/************************/
/*DISPLAY FOR ACTIVITIES/
/************************/

.display {
  font-family: "Nanum Pen Script", cursive;
  font-size: 45px;
  background: #fea300;
  height: 100%;
  width: 90%;
  margin: 3em 10em 0 10em;
  border: 4px solid slategray;
  border-radius: 6px;
  text-align: center;
}

/**********************/
/*PRICE RANGE DISPLAY*/
/*********************/

.price {
  padding: 0.1em;
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  background: #fea300;
  height: 20%;
  width: 6%;
  margin: 0 40em 6em 40em;
  border: 6px dashed slategray;
  border-radius: 100%;
  text-align: center;
}

footer {
  color: whitesmoke;
  font-size: 1em;
  padding: 0.5em;
  font-family: "Permanent Marker", cursive;
  background: linear-gradient(lightslategray, white);
  height: 20%;
  width: 100%;
  margin: 8em 8em 0 8em;
  border: 2.5px solid slategray;
  border-radius: 2px;
  text-align: center;
}
/* for iPhone*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .robot {
    margin: 0 auto;
  }
  .robot_body {
    margin: 0 -2em 0 -2em;
    width: 15em;
  }
  .l_hand {
    margin: 0 0 0 -80px;
    padding: 0;
  }
  .r_hand {
    padding: 0;
    margin: 0 0 0 80px;
  }
  .r_arm {
    margin: -240px 0 208px 160px;
  }
  .foot {
    margin: -3em 3em 4em 3em;
    width: 3em;
    height: 1.5em;
  }

  .inner_foot {
    margin: -1em -1em 0 -0.75em;
    width: 4em;
    height: 4em;
  }
}
